.navbar-custom{
    background-color: rgba(25, 184, 11, 0.719);
    padding-bottom: 2%

}
.nav-item{
    margin-left:0%;
}
.nav-link{
color: rgb(255, 255, 255);
}

.j4{
    margin-left: 30%;
    margin-top: 6%;
    margin-bottom:4%;
    background-color: rgba(55, 10, 139, 0.226);
    padding-top: 0%;
}
 body{
        background-color: rgb(255, 255, 255);
    }
#b1 {
     margin-left: 70%
}
#hl{
    margin-left:2%;
    color:rgb(56, 190, 146);
     
    
}
#l1{
    color: rgba(255, 255, 255);
    font-size: 250%;
    margin-left: 20%
}
#lo{
    margin-left: 70%
}  